In [10]:
import random
import numpy as np
import bs4 as BS
import requests as rqs
import pandas as pd

In [2]:
pages = random.sample(range(1, 193),192)
pages.sort()

In [3]:
year = []
car = []
price = []
for page in pages:

    source = rqs.get(r'https://www.cheki.co.ke/vehicles/toyota?page={}'.format(page)).text

    soup = BS.BeautifulSoup(source, 'lxml')

    for article in soup.find_all('div',class_= 'right-card-part-container'):

        year.append(article.find('span', class_='ellipses').text.split('\n')[2])

        car.append(article.find('span', class_='ellipses').text.split('\n')[3])
        try:

            price.append(article.find('h2', class_= 'listing-price').text)
        except AttributeError:
            price.append('0')

In [8]:
Dict = {
    'Car': car,
    'Year': year,
    'Price': price
}

In [12]:
df = pd.DataFrame(Dict)

In [13]:
df.head()

                                Car  Year             Price
0                       Toyota Voxy  2013  \nKSh1,475,000\n
1                      Toyota Spade  2013    \nKSh750,000\n
2  Toyota Hilux 2.5 D-4D Double Cab  2013  \nKSh2,400,000\n
3                     Toyota Ractis  2013    \nKSh880,000\n
4                      Toyota Passo  2013    \nKSh635,000\n

In [25]:
df['Price'] = pd.to_numeric(df['Price'].apply(lambda x: x.replace('\n', '').replace('KSh', '').replace(',','')))

In [27]:
df.head(2)

            Car  Year    Price
0   Toyota Voxy  2013  1475000
1  Toyota Spade  2013   750000

In [31]:
filt = (df['Year'] == 'Toyota Vanguard')

In [34]:
incorrect = df[filt].index

In [37]:
df = df.drop(incorrect).reset_index(drop = True)

In [39]:
df['Year'] = pd.to_numeric(df['Year'])

In [41]:
df = df.rename(columns = {'Price': 'Price in KSh'})

In [42]:
df.head(2)

            Car  Year  Price in KSh
0   Toyota Voxy  2013       1475000
1  Toyota Spade  2013        750000

In [53]:
car = df.groupby('Car')

In [56]:
car.get_group('Toyota Spade')

               Car  Year  Price in KSh
1     Toyota Spade  2013        750000
23    Toyota Spade  2013        750000
45    Toyota Spade  2013        750000
507   Toyota Spade  2013        750000
704   Toyota Spade  2013        835000
1359  Toyota Spade  2012        900000
1544  Toyota Spade  2012        850000
2053  Toyota Spade  2012        740000

In [63]:
pd.set_option('display.max_rows',1000)

In [69]:
df[df['Car'].str.contains('HiAce')].sort_values(by = 'Price in KSh').reset_index(drop = True)

                     Car  Year  Price in KSh
0           Toyota HiAce  1988        465000
1           Toyota HiAce  1999        635000
2           Toyota HiAce  1999        720000
3           Toyota HiAce  2006        900000
4           Toyota HiAce  2007       1350000
5           Toyota HiAce  2009       1350000
6           Toyota HiAce  2006       1350000
7    Toyota HiAce KDH200  2008       1490000
8           Toyota HiAce  2008       1500000
9    Toyota HiAce KDH200  2008       1500000
10          Toyota HiAce  2008       1500000
11          Toyota HiAce  2010       1550000
12          Toyota HiAce  2012       1600000
13          Toyota HiAce  2011       1600000
14          Toyota HiAce  2010       1600000
15   Toyota HiAce KDH200  2011       1650000
16          Toyota HiAce  2011       1650000
17          Toyota HiAce  2011       1670000
18   Toyota HiAce KDH200  2010       1690000
19   Toyota HiAce KDH200  2012       1800000
20   Toyota HiAce KDH200  2013       1800000
21          Toyota HiAce  2013       1800000
22          Toyota HiAce  2011       1800000
23          Toyota HiAce  2012       1850000
24          Toyota HiAce  2013       1850000
25          Toyota HiAce  2011       1890000
26          Toyota HiAce  2012       1900000
27          Toyota HiAce  2013       1900000
28          Toyota HiAce  2012       1900000
29          Toyota HiAce  2012       1900000
30          Toyota HiAce  2013       1900000
31          Toyota HiAce  2013       1900000
32          Toyota HiAce  2012       1900000
33          Toyota HiAce  2012       1900000
34          Toyota HiAce  2012       1900000
35          Toyota HiAce  2013       1900000
36          Toyota HiAce  2012       1900000
37          Toyota HiAce  2013       1950000
38   Toyota HiAce KDH200  2013       1950000
39          Toyota HiAce  2012       1990000
40   Toyota HiAce KDH200  2011       1999000
41          Toyota HiAce  2013       2000000
42          Toyota HiAce  2012       2000000
43          Toyota HiAce  2013       2000000
44          Toyota HiAce  2013       2000000
45          Toyota HiAce  2014       2100000
46          Toyota HiAce  2017       2100000
47          Toyota HiAce  2012       2100000
48          Toyota HiAce  2013       2200000
49          Toyota HiAce  2013       2200000
50          Toyota HiAce  2013       2250000
51          Toyota HiAce  2013       2250000
52          Toyota HiAce  2013       2250000
53          Toyota HiAce  2011       2300000
54          Toyota HiAce  2013       2300000
55          Toyota HiAce  2012       2300000
56          Toyota HiAce  2010       2350000
57          Toyota HiAce  2010       2350000
58          Toyota HiAce  2012       2390000
59   Toyota HiAce KDH200  2012       2390000
60   Toyota HiAce KDH222  2013       2400000
61          Toyota HiAce  2014       2400000
62          Toyota HiAce  2013       2400000
63          Toyota HiAce  2013       2400000
64   Toyota HiAce KDH222  2013       2400000
65          Toyota HiAce  2012       2400000
66   Toyota HiAce KDH200  2013       2450000
67          Toyota HiAce  2013       2450000
68          Toyota HiAce  2013       2450000
69          Toyota HiAce  2012       2450000
70          Toyota HiAce  2013       2450000
71          Toyota HiAce  2013       2480000
72          Toyota HiAce  2012       2490000
73   Toyota HiAce KDH200  2012       2500000
74          Toyota HiAce  2011       2500000
75          Toyota HiAce  2012       2500000
76          Toyota HiAce  2013       2500000
77   Toyota HiAce KDH222  2012       2500000
78          Toyota HiAce  2012       2500000
79          Toyota HiAce  2013       2550000
80   Toyota HiAce KDH200  2014       2550000
81          Toyota HiAce  2012       2550000
82          Toyota HiAce  2013       2550000
83          Toyota HiAce  2013       2550000
84          Toyota HiAce  2013       2550000
85          Toyota HiAce  2013       2550000
86          Toyota HiAce  2013       2550000
87          Toyota HiAce  2012       2550000
88   Toyota HiAce KDH200  2013       2550000
89          Toyota HiAce  2013       2550000
90          Toyota HiAce  2013       2550000
91          Toyota HiAce  2013       2570000
92          Toyota HiAce  2013       2580000
93          Toyota HiAce  2013       2600000
94   Toyota HiAce KDH222  2013       2600000
95          Toyota HiAce  2013       2600000
96          Toyota HiAce  2013       2600000
97          Toyota HiAce  2014       2600000
98          Toyota HiAce  2012       2600000
99          Toyota HiAce  2012       2600000
100  Toyota HiAce KDH200  2013       2600000
101         Toyota HiAce  2013       2600000
102         Toyota HiAce  2012       2600000
103         Toyota HiAce  2020       2632775
104         Toyota HiAce  2014       2650000
105         Toyota HiAce  2013       2650000
106  Toyota HiAce KDH200  2014       2650000
107  Toyota HiAce KDH200  2013       2650000
108         Toyota HiAce  2011       2650000
109         Toyota HiAce  2014       2650000
110         Toyota HiAce  2013       2650000
111         Toyota HiAce  2013       2680000
112  Toyota HiAce KDH200  2012       2690000
113  Toyota HiAce KDH200  2012       2700000
114         Toyota HiAce  2012       2700000
115         Toyota HiAce  2010       2700000
116         Toyota HiAce  2013       2700000
117  Toyota HiAce KDH200  2013       2700000
118         Toyota HiAce  2013       2750000
119         Toyota HiAce  2013       2750000
120  Toyota HiAce KDH200  2013       2750000
121         Toyota HiAce  2013       2750000
122         Toyota HiAce  2014       2750000
123         Toyota HiAce  2013       2750000
124         Toyota HiAce  2009       2800000
125         Toyota HiAce  2010       2800000
126         Toyota HiAce  2009       2800000
127         Toyota HiAce  2009       2800000
128         Toyota HiAce  2009       2800000
129         Toyota HiAce  2013       2800000
130  Toyota HiAce KDH200  2012       2800000
131  Toyota HiAce KDH222  2012       2800000
132         Toyota HiAce  2013       2800000
133         Toyota HiAce  2012       2900000
134  Toyota HiAce KDH200  2012       2900000
135         Toyota HiAce  2020       2909823
136         Toyota HiAce  2018       2909823
137         Toyota HiAce  2020       2909823
138         Toyota HiAce  2012       2950000
139         Toyota HiAce  2013       2950000
140         Toyota HiAce  2010       3100000
141  Toyota HiAce KDH200  2012       3100000
142  Toyota HiAce KDH200  2012       3100000
143         Toyota HiAce  2020       3103879
144         Toyota HiAce  2020       3186973
145         Toyota HiAce  2019       3186973
146         Toyota HiAce  2013       3200000
147         Toyota HiAce  2014       3200000
148  Toyota HiAce KDH222  2013       3300000
149  Toyota HiAce KDH222  2013       3350000
150  Toyota HiAce KDH222  2013       3400000
151  Toyota HiAce KDH222  2013       3450000
152         Toyota HiAce  2012       3500000
153         Toyota HiAce  2019       3547218
154         Toyota HiAce  2020       3547218
155         Toyota HiAce  2013       3550000
156  Toyota HiAce KDH222  2013       3600000
157  Toyota HiAce KDH222  2013       3750000
158  Toyota HiAce KDH222  2013       3800000
159  Toyota HiAce KDH200  2013       3900000
160         Toyota HiAce  2013       3900000
161         Toyota HiAce  2013       4000000
162         Toyota HiAce  2020       4156948
163         Toyota HiAce  2019       4434098
164         Toyota HiAce  2019       4434098
165         Toyota HiAce  2019       4434098
166         Toyota HiAce  2013       4500000
167         Toyota HiAce  2016       4700000

In [1]:
import string